/* GENERAL SETTINGS
==================== */

html,
body {
	height: 100%;
}

html {
    box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	background-color: #f8f9fa;
}

ul, ol {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}

figure, figcaption {
	margin: 0;
	padding: 0;
}

input, select, textarea, button {
	outline: 0;
	border: none;
}

img,
video {
	max-width: 100%;
}

a {
	text-decoration: none;
}


/* SPECIFIC STYLES
=================== */

/* Preview only */
.services, .company, .footer {
    min-height: 500px;
}

.company, .footer {
    border: 2px solid blue;
}

/* Hero */

.hero {
	background-color: #3366FF;
}

.brand {
	font-weight: 700;
}

.menu-btn, .logs {
	min-width: 100px;
}

.menu, .login, .register {
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: .05rem;
}

.menu {
	padding-bottom: 1px;
}

.menu a {
	color: #ff9881;
}

.heading {
	font-size: 3.5rem;
	font-weight: 800;
}



/* Services */

.sub-heading {
	color: #ff7161;
	font-size: 2.5rem;
	font-weight: 800;
}

.text {
	max-width: 500px;
	color: #FF9881;
	font-size: 1.4rem;
}

.card {
	max-width: 450px;
	height: 70px;
}

.card-link {
	height: 100%;
}

.card-link:hover {
	background-color: #d6e4ff;
}

.service {
	color: #3366FF;
	font-size: 1.8rem;
	font-weight: 800;
}

/* Company */

/* Footer */



/* RWD MEDIA QUERIES
===================== */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
