/*********************
 GENERAL SETTINGS
*********************/

html,
body {
	/* height: 100%; */
}

html {
    box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	background-color: #ebebeb;
}

ul, ol {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none !important;
}

figure, figcaption {
	margin: 0;
	padding: 0;
}

input, select, textarea, button {
	outline: 0;
	border: none;
}

img,
video {
	max-width: 100%;
}

a {
	text-decoration: none !important;
}

.btn-primary {
    background-color: #3366ff !important;
}


/********************
 COMPONENTS
********************/

/* NAVBAR
***********/

.navbar {
	top: 0;
	z-index: 1030;
	background-color: #3366ff;
}


/* Cart */

.shopping-cart {
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
}

.shopping-cart .fas {
    color: #ff652d;
}

.items, .phone {
    font-size: 1.2rem;
    color: #3366ff;
}

.items strong {
    color: #ff652d;
}

.items a {
    font-weight: 600;
    border-bottom: 1.5px solid #ff3730;
    color: #ff3730;
}


/* Menu */

.menu-btn button,
.menu-btn .dropdown-item {
	font-size: 1.4rem;
}

.menu-btn .dropdown-menu {
	min-width: 140px;
}

.menu-btn .dropdown-menu .contact {
	color: #3366ff;
}

.menu-btn, .logs {
	min-width: 100px;
}

.nav.menu, .login, .register {
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: .05rem;
}

.nav.menu {
	padding-bottom: 1px;
}

.nav.menu .nav-link {
	color: #f5f5f5;
}


/* Logs */

.login-btn {
    font-size: 1.25rem;
    font-weight: 600;
}

.register-btn {
	color: #3366ff;
	font-weight: 600;
}

.loged-user-name {
    font-size: 1.25rem;
    font-weight: 600;
}

.loged-user-avatar {
	width: 35px;
	height: 35px;
    border-radius: 50%;
}

.loged-user .btn {
    color: white;
}

.loged-user .dropdown-item {
	font-size: 1.4rem;
}

.loged-user .logout {
    color: #3366ff;
    font-weight: 600;
}


/* HOME
*********/

.home {
	padding-top: 90px;
	background-color: #3366ff;
}


/* Hero */

.heading {
	font-size: 3.5rem;
}

.lead {
    max-width: 600px;
    font-size: 1.6rem;
}

.image {
	height: 350px;
    position: relative;
	background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: cover;
}

.gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:
    linear-gradient(
      to left,
      #3366ff,
      rgba(255,255,255,0)
    );
}


/* Services - Company */

.services, .company {
    min-height: 450px;
}

.sub-heading {
	color: #3366ff;
	font-size: 2.5rem;
}

.text {
	max-width: 500px;
	color: #3366ff;
	font-size: 1.4rem;
}


/* Services */

.service-card {
	max-width: 450px;
	height: 100px;
}

.service-icon {
	width: 55%;
	height: 100%;
	background-color: #ff652d;
}

.service-icon span {
    color: #ff935d;
    font-size: 4rem;
}

.service-info {
    height: 65%;
}

.service-name {
	color: #3366ff;
	font-size: 1.8rem;
}


/* Company */

.company {
	margin-bottom: 100px;
}

.title {
	color: #3366ff;
	font-size: 1.8rem;
}


/* SERVICE
************/

/* Label */

.service-label {
    height: 300px;
    background-color: #ff652d;
}

.service-label span {
    color: #ff935d;
    font-size: 15rem;
}

/* Pricing */

.pricing {
    margin-bottom: 100px;
}

.calculator {
    color: #6c757d;
    font-size: 4rem;
    transform: rotate(-15deg);
}

.step .number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #3366ff;
    color: #3366ff;
    font-size: 2rem;
}

.step .label {
    color: #3366ff;
    font-size: 1.6rem;
}

.area {
    max-width: 550px;
}

.area-options,
.area-unit,
.type, .date {
    font-size: 1.4rem;
}

.type .fas {
    color: #3366ff;
    font-size: 1.8rem;
}

.calculate-btn, .bookin-btn {
    min-width: 130px;
}

.price > strong {
    font-size: 2.4rem;
}

.terms {
    color: #131313;
    font-size: 1.25rem;
}

.bookin {
    max-width: 600px;
    font-size: 1.35rem;
}

.discount {
    font-size: 1.6rem;
}

.bookin-btn {
    font-size: 1.6rem;
    background-color: #3366ff;
}

.legal {
    font-size: 1.25rem;
}


/* CART
*********/

.cart {
	padding-top: 120px;
}

.cart-content {
    height: 100vh;
}

.cart-frame {
    min-height: 250px;
}

.cart-title {
    color: #6c757d;
}

.cart-icon {
    color: #ff652d;
}

.service-status,
.service-details {
    font-size: 1.2rem;
}

.service-price {
    font-size: 1.8rem;
    font-weight: 600;
}




/* ACCOUNT
************/

.account-label {
	height: 200px;
	background-color: #f5f5f5;
	color: #3366ff;
}

.user-avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.user-name {
	font-size: 1.4rem;
	color: #3366ff;
}

.user-info {
	width: 80%;
	max-width: 450px;
}

.user-fieldname {
	font-size: 1.25rem;
	font-weight: 600;
}

.user-info input {
	font-size: 1.25rem;
	pointer-events: none !important;
	background-color: #ebebeb !important;
}

.purchase-title {
	font-size: 1.8rem;
	font-weight: 600;
}

.purchased-item {
	width: 80%;
	max-width: 450px;
	font-size: 1.2rem;
}

.purchase-details span {
	font-weight: 600;
}

.code {
	background-color: #d6e4ff;
}


/* FAQ BTN
************/

.faq-btn-shape {
	width: 100px;
	height: 60px;
	right: 0;
	bottom: 0;
    z-index: 1020;
	border-radius: 10px 0 0 0;
	background-color: #ff3730;
}

.faq-btn-link {
	color: #ffE5d5 !important;
	font-size: 1.4rem;
	letter-spacing: .05rem;
}


/* FAQ
********/

.faq-label {
	height: 200px;
	background-color: #f5f5f5;
	color: #3366ff;
}

.accordion {
	margin-bottom: 100px;
}

.question, .answer {
	font-size: 1.4rem;
}


/* FORMS
**********/

.register,
.login,
.contact {
    padding-top: 60px;
}

.user-image {
    width: 8rem;
    height: 8rem
}

.user-content span {
    font-size: 1.2rem;
}

.user-content button {
    font-weight: 600;
	letter-spacing: .025rem;
    border-radius: 2px;
    border: 1.5px solid #3366ff;
	color: #3366ff;
}

.user-content button:hover {
	background-color: #dcf1ff;
    color: #3366ff;
}

.form {
    width: 100%;
	max-width: 550px;
}

.form-title {
	font-size: 1.8rem;
    color: #3366ff;
}

.form-label {
	color: #3366ff;
	font-size: 1.25rem;
	font-weight: 600;
}

.form-btn {
	min-width: 130px;
	height: 37px;
	font-weight: 600;
	letter-spacing: .025rem;
	background-color: #3366ff;
}

.contact .contact-info {
    color: #3366ff;
}


/* FOOTER
***********/

.footer {
	height: 400px;
	background-color: #3366ff;
}

.facebook, .instagram {
	font-size: 1.8rem;
	color: #ff9881;
}
.facebook:hover, .instagram:hover {
	color: #f8f9fa;
}

.contact-info {
	font-size: 1.4rem;
}



/* RWD MEDIA QUERIES
===================== */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	/* Services */
	.service-card {
		max-width: 225px;
		height: 170px;
	}

	.service-icon {
		width: 100%;
		height: 100px;
	}

    /* Cart */
    .item-icon {
        width: 120px;
    }

    .item-detail {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

	/* Footer */
	.footer {
		height: 200px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

	/* Services */
	.service-card {
		max-width: 225px;
		height: 170px;
	}

	.service-icon {
		width: 100%;
		height: 100px;
	}

    /* Cart */
    .item-icon {
        width: 120px;
    }

    .item-detail {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

	/* Footer */
	.footer {
		height: 200px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	/* Services */
	.service-card {
		max-width: 225px;
		height: 170px;
	}

	.service-icon {
		width: 100%;
		height: 100px;
	}

    /* Cart */
    .item-icon {
        width: 120px;
    }

    .item-detail {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

	/* Footer */
	.footer {
		height: 200px;
	}
}
