/* GENERAL SETTINGS
*********************/

html,
body {
	height: 100%;
}

html {
    box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	background-color: #f8f9fa;
}

ul, ol {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none !important;
}

figure, figcaption {
	margin: 0;
	padding: 0;
}

input, select, textarea, button {
	outline: 0;
	border: none;
}

img,
video {
	max-width: 100%;
}

a {
	text-decoration: none !important;
}



/* SPECIFIC STYLES
********************/

/* Preview only */
.services, .company {
    min-height: 500px;
}

/* HOME
*********/

/* Hero */

.hero {
	padding-top: 90px;
	background-color: #3366ff;
}

.menu-collapsed {
	width: 100%;
	top: 78.8px;
	left: 0;
	z-index: 1040;
	background-color: #3366ff;
}

.menu-trigger, .logs {
	min-width: 100px;
}

.navbar {
	top: 0;
	z-index: 1030;
	background-color: #3366ff;
}

.nav.menu, .login, .register {
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: .05rem;
}

.register-home-btn {
	font-weight: 600;
}

.nav.menu {
	padding-bottom: 1px;
}

.nav.menu .nav-link {
	color: #ff9881;
}

.heading {
	font-size: 3.5rem;
	font-weight: 800;
}


/* Services */

.sub-heading {
	color: #3366ff;
	font-size: 2.5rem;
}

.text {
	max-width: 500px;
	color: #3366ff;
	font-size: 1.4rem;
}

.card {
	max-width: 450px;
	height: 70px;
}

.card-link {
	height: 100%;
}

.card-link:hover {
	background-color: #d6e4ff;
}

.service-icon {
	width: 55%;
	height: 100%;
	background-color: #ff652d;
}

.service-name {
	color: #3366ff;
	font-size: 1.8rem;
}

/* Company */

/* Footer */

.footer {
	height: 400px;
	background-color: #3366ff;
}

.facebook, .instagram {
	font-size: 1.8rem;
	color: #ff9881;
}
.facebook:hover, .instagram:hover {
	color: #f8f9fa;
}

.contact {
	font-size: 1.4rem;
}


/* FORMS
**********/

.form {
	max-width: 550px;
}

.form-title {
	font-size: 1.8rem;
}

.form-label {
	color: #3366ff;
	font-size: 1.25rem;
	font-weight: 600;
}

.form-btn {
	min-width: 130px;
	height: 37px;
	font-weight: 600;
	letter-spacing: .025rem;
	background-color: #3366ff;
}



/* UTILITIES
**************/

.faq {
	width: 100px;
	height: 60px;
	right: 0;
	bottom: 0;
	border-radius: 10px 0 0 0;
	background-color: #ff3730;
}

.faq-link {
	color: #ffE5d5 !important;
	font-size: 1.4rem;
	letter-spacing: .05rem;
}



/* RWD MEDIA QUERIES
===================== */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	/* Services */
	.card {
		height: 140px;
	}

	.service-icon {
		width: 100%;
		height: 70px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

	/* Services */
	.card {
		height: 140px;
	}

	.service-icon {
		width: 100%;
		height: 70px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	/* Services */
	.card {
		height: 140px;
	}

	.service-icon {
		width: 100%;
		height: 70px;
	}
}
