/*********************
 GENERAL SETTINGS
*********************/

html {
    box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	background-color: #ebebeb;
}

ul, ol {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none !important;
}

figure, figcaption {
	margin: 0;
	padding: 0;
}

input, select, textarea, button {
	outline: 0 !important;
	border: none;
}

img,
video {
	max-width: 100%;
}

a {
	text-decoration: none !important;
}



/********************
 COMPONENTS
********************/

/* NAVBAR
***********/

.navbar {
	height: 60px;
	top: 0;
	z-index: 1030;
	background-color: #3366ff;
}
#navbar {
	transition: top 0.3s; /* Transition effect when sliding up and down */
}


/* Datetime */

.datetime {
	left: 15px;
	color: #adc8ff;
}

.place, 
.timestamp {
	font-size: 1rem;
	font-weight: 600;
}


/* Logo */

.navbar .logo a {
	font-size: 3.5rem;
	font-weight: 800;
	color: #ffffff;
}


/* Menu */

.hamb-btn {
	right: 60px;
	z-index: 1030;
	background: none !important;
}

.menu-offcanvas {
	margin-top: 8px;
	background-color: #3366ff;
} /* displayed in mobile */

.nav.menu {
	width: 280px;
} /* displayed in desktop */

.nav.menu-offcanvas .nav-link,
.nav.menu .nav-link,
.nav.menu-offcanvas .user,
.nav.menu .user {
	margin: .5rem 1rem;
	padding: 0 !important;
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: .05rem;
	background: none !important;
	color: #f5f5f5;
}

.nav.menu-offcanvas .nav-link:hover,
.nav.menu .nav-link:hover,
.nav.menu-offcanvas .user:hover,
.nav.menu .user:hover {
	color: #ffffff;
}

.nav.menu-offcanvas .dropdown-toggle::after,
.nav.menu .dropdown-toggle::after {
	display: none !important;
} /* hides the default bootstrap's dropdown arrow */

.nav.menu-offcanvas .dropdown-menu a,
.nav.menu .dropdown-menu a {
	font-size: 1.125rem;
	font-weight: 600;
}

.nav.menu-offcanvas .dropdown-menu a.logout,
.nav.menu .dropdown-menu a.logout {
	color: #3366ff;
}


/* Notifications */

.notifications {
	width: 150px;
	right: 6px;
}

.notifications .bell {
	margin: .5rem 1rem;
	padding: 0 !important;
	font-weight: 600;
	letter-spacing: .05rem;
	background: none !important;
}

.notifications .dropdown-toggle::after {
	display: none !important;
} /* hides the default bootstrap's dropdown arrow */

.notifications .bell span {
	cursor: pointer;
	color: #adc8ff;
}

.notifications .dropdown-menu {
	min-width: 200px;
	left: auto !important;
	padding: 5px;
	font-size: 1.25rem;
}



/* LABEL
**********/

.label {
	height: 60px;
	margin-top: 60px;
    background-color: white;
}

.heading {
	font-size: 1.8rem;
	line-height: 2rem;
	color: #3366ff;
}



/* HOME
*********/

/* Hero */

.image {
	height: 350px;
	position: relative;
	margin-top: 60px;
	background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: cover;
}

.gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:
    linear-gradient(
      to left,
      #3366ff,
      rgba(255,255,255,0)
    );
}

.main-heading {
	position: absolute;
	top: 45px;
	z-index: 1020;
	font-size: 4rem;
	line-height: 4rem;
	font-weight: 400;
	text-shadow: 1px 1px 4px #4b4b4b; 
}

.main-cta {
	width: 150px;
	height: 40px;
	position: absolute;
	bottom: 50px;
	z-index: 1020;
	font-size: 1.6rem;
	font-weight: 800;
	border-radius: 4px;
	border: 2px solid #ffffff;
	background-color: #eb6448;
	color: #ffffff;
}

.main-cta:hover {
	background-color: #FC522F;
	color: #ffffff !important;
}


/* Services */

.services .card {
	height: 250px;
}

.service-name {
	font-size: 1.8rem;
	font-weight: 600;
	color: #3366ff;
}

.service-icon {
	font-size: 6rem;
	color: #3366ff;
}

.service-text {
	max-width: 85%;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: #3366ff;
}


/* Company */

.company {
	margin: 200px 0;
}

.company img {
	height: auto;
}

.company-title {
	color: #3366ff;
	font-size: 1.8rem;
}

.company-maintext {
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 600;
	color: #3366ff;
}

.company-text {
	font-size: 1.3rem;
	line-height: 1.6rem;
	color: #3366ff;
}



/* SERVICES
*************/

/* Service selection */

.selection .card {
	height: 180px;
	background-color: #3366ff !important;
}

.selection .title {
	margin-top: 30px;
	font-size: 1.6rem;
	font-weight: 700;
	text-align: center;
	color: #3366ff;
}

.selection .service-name {
	font-size: 1.8rem;
	font-weight: 600;
	color: white;
}

.selection .service-icon {
	font-size: 6rem;
	color: white;
}

.check {
	height: 24px;
}

.check input {
	width: 24px;
	height: 24px;
	top: 0;
	right: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 99999999;
}

.check .custom-checkbox {
	width: 24px;
	height: 24px;
	top: 0;
	right: 0;
	border-radius: 4px;
	border: 2px solid white;
	background-color: transparent;
	transition: all 0.3s ease-out;
}

.check .custom-checkbox::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 12px;
	right: 12px;
	border-radius: 4px;
	border: solid #fc522f;
	border-width: 0 3px 3px 0;
	transform: rotate(0deg) scale(0);
	transition: all 0.3s ease-out;
	opacity: 1;
}

.check input:checked ~ .custom-checkbox {
	border-radius: 4px;
	background-color: white;
	transform: rotate(0deg) scale(1);
	opacity: 1;
	transform: rotate(0deg) scale(1);
}

.check input:checked ~ .custom-checkbox::after {
	width: 6px;
	height: 12px;
	top: 3px;
	right: 8px;
	border-radius: 0;
	border: solid #fc522f;
	border-width: 0 3px 3px 0;
	background-color: transparent;
	transform: rotate(45deg) scale(1);
	opacity: 1;
}


/* Service quotation */

.quotation {
	margin-bottom: 100px;
}

.bs-stepper-content .content .wrapper {
	min-height: 450px;
}

.bs-stepper .bs-stepper-content button {
	font-size: 1.4rem;
}

.area-selection {
	max-width: 500px;
}

.area-options,
.area-unit,
.category-selection {
    font-size: 1.4rem;
}

.category-selection .fas {
    color: #3366ff;
    font-size: 1.8rem;
}

.price, .conditions,
.discount-alert {
	max-width: 600px;
}

.price > strong {
    font-size: 2.4rem;
}

.download-btn {
	font-size: 1rem !important;
    padding-top: .4rem;
}

.discount-alert {
    font-size: 1.6rem;
}

.conditions p {
	font-size: 1.3rem;
}


/* CART
*********/

.cart-content {
	margin-top: 60px;
	margin-bottom: 100px;
}

.cart-frame {
    min-height: 250px;
}

.cart-title {
    color: #6c757d;
}

.cart-icon {
    color: #ff652d;
}

.service-status,
.service-details {
    font-size: 1.2rem;
}

.service-price {
    font-size: 1.8rem;
    font-weight: 600;
}


/* ACCOUNT
************/

.dashboard {
	margin-bottom: 100px;
}

.user-avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.user-name {
	font-size: 1.4rem;
	color: #3366ff;
}

.user-info {
	width: 80%;
	max-width: 450px;
}

.user-fieldname {
	font-size: 1.25rem;
	font-weight: 600;
}

.user-info input {
	font-size: 1.25rem;
	pointer-events: none !important;
	background-color: #ebebeb !important;
}

.purchase-title {
	font-size: 1.8rem;
	font-weight: 600;
}

.purchased-item {
	width: 80%;
	max-width: 450px;
	font-size: 1.2rem;
}

.purchase-details span {
	font-weight: 600;
}

.code {
	background-color: #d6e4ff;
}


/* FAQ
********/

.faq-questions {
	margin-top: 40px;
	margin-bottom: 100px;
}

.accordion {
	margin-bottom: 100px;
}

.question, .answer {
	font-size: 1.4rem;
}


/* FORMS
**********/

.register,
.login,
.password,
.contact {
	padding-top: 60px;
	margin-bottom: 100px;
}

.user-image {
    width: 8rem;
    height: 8rem
}

.user-content span {
    font-size: 1.2rem;
}

.user-content button {
    font-weight: 600;
	letter-spacing: .025rem;
    border-radius: 2px;
    border: 1.5px solid #3366ff;
	color: #3366ff;
}

.user-content button:hover {
	background-color: #dcf1ff;
    color: #3366ff;
}

.form {
    width: 100%;
	max-width: 550px;
}

.form-title {
	font-size: 1.8rem;
    color: #3366ff;
}

.form-label {
	color: #3366ff;
	font-size: 1.25rem;
	font-weight: 600;
}

.form-btn {
	min-width: 130px;
	height: 37px;
	font-weight: 600;
	letter-spacing: .025rem;
	background-color: #3366ff;
}

.disabled {
	pointer-events: none;
}

.form-link {
	font-size: 1.2rem;
}

.form-group .helper,
.form-group .error {
    font-size: 1.1rem;
}

.form-group .helper,
.form-group .error,
.successfully-sent {
    display: none;
}

.successfully-sent {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .05rem;
}

#message {
    font-size: 1.25rem;
}


/* FOOTER
***********/

.footer {
	min-height: 150px;
	margin-top: auto;
	background-color: #3366ff;
}

.footer .specialty, 
.footer .logo a {
	color: #84a9ff !important;
}

.footer .logo a:hover {
	color: #84a9ff !important;
}

.footer .specialty {
	font-size: 1.4rem;
}

.footer .logo a {
	font-size: 3rem;
}

.contact-info {
	font-size: 1.125rem;
}

.footer .menu .nav-link {
	font-size: 1.125rem;
	letter-spacing: .05rem;
	font-weight: 600;
	background: none !important;
	color: #f5f5f5;
}



/* RWD MEDIA QUERIES
===================== */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

			/* Speciall mediaquery correction */
			@media (min-width: 425px) and (max-width: 575.98px) {
				.company {
					max-width: 350px;
					margin: 200px auto;
				}
			} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	
	/* Label */
	.heading {
		font-size: 2.4rem;
		line-height: 2.6rem;
		color: #3366ff;
	}

	/* Services */

	.map {
		width: 80%;
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	/* Menu offcanvas */
	.hamb-btn {
		right: 90px;
	}

	/* Label */
	.heading {
		font-size: 2.7rem;
		line-height: 3rem;
		color: #3366ff;
	}

	/* Services */
	.selection .title {
		font-size: 1.8rem;
	}

	.bs-stepper, 
	.bs-stepper span,
	.bs-stepper button {
		font-size: 1.4rem;
	}

	.map {
		width: 80%;
	}
	
	/* Cart */
    .item-icon {
        width: 120px;
    }

    .item-detail {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
	}
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

	/* Label */
	.heading {
		font-size: 2.7rem;
		line-height: 3rem;
		color: #3366ff;
	}

	/* Services */
	.selection .title {
		font-size: 1.8rem;
	}

	.bs-stepper, 
	.bs-stepper span,
	.bs-stepper button {
		font-size: 1.4rem;
	}

	.map {
		width: 80%;
	}

    /* Cart */
    .item-icon {
        width: 120px;
    }

    .item-detail {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	/* Label */
	.heading {
		font-size: 2.7rem;
		line-height: 3rem;
		color: #3366ff;
	}

	/* Services */
	.selection .title {
		font-size: 1.8rem;
	}

	.bs-stepper, 
	.bs-stepper span,
	.bs-stepper button {
		font-size: 1.4rem;
	}

	.map {
		width: 80%;
	}

    /* Cart */
    .item-icon {
        width: 120px;
    }

    .item-detail {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
	}
	
}

