
<nav class="navbar w-100 p-0 position-fixed align-items-start" id="navbar" th:fragment="navbar">

    <!-- Main navbar container -->
    <div class="navbar-content w-100 position-relative d-flex justify-content-between align-items-center justify-content-sm-center">

        <!-- Datetime -->
        <aside class="datetime position-absolute d-none d-sm-flex align-items-sm-center">
            <span class="fas fa-map-marker-alt fa-2x"></span>
            <div class="d-flex flex-column mx-3">
                <span class="place">Godoy Cruz, Mendoza, Argentina</span>
                <span class="timestamp">19/01/20 - 17:00 h</span>
            </div>
        </aside>

        <!-- Company logo -->
        <h1 class="logo mx-3 mx-sm-5">
            <a  href="/">
                <img src="/img/logo-fullcolor.svg" alt="company logo">
            </a>
        </h1>

        <!-- Notifications -->
        <aside class="notifications position-absolute">
            <div class="dropdown d-flex justify-content-end">
                <button class="bell dropdown-toggle alig-self-end" type="button" id="dropdownNotifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-bell fa-2x"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownNotifications">
                    <span>Notificación 1</span>
                    <div class="dropdown-divider"></div>
                    <span>Notificación 2</span>
                </div>
            </div>    
        </aside>

    </div> 
    <!-- /Main navbar container -->

</nav> 
