<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="E-Commerce para empresa de transporte">
    <title>UNE | Administración</title>
    <script src="https://kit.fontawesome.com/fcd2f49556.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap}" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>


<!-- UPDATE SERVICE HEADER -->
	<header class="update-service" id="update-service">

		<!-- NAVBAR -->
		<nav th:replace="common/navbar :: navbar"></nav>

        <!-- LABEL -->
        <div class="container-full">
            <div class="row no-gutters">
                <div class="label col-12 d-flex justify-content-center align-items-center shadow-sm">
                    <h2 class="heading m-0 px-3 text-center">Modificar un Servicio</h2>
                </div>
            </div>
        </div>

	</header>
	<!-- /ADD SERVICE HEADER -->


	<!-- UPDATE SERVICE FORM -->
	<section class="update-service-form" id="update-service-form">
		<div class="container">
			<div class="row no-gutters">
				<!-- Add service -->
				<form class="mx-auto mt-5" th:object="${service}" th:action="@{update}" method="post" autocomplete="off">
					<input class="form-control" type="hidden" th:field="${service.id}">
					<div class="form-group">
						<label for="name">Nombre</label>
						<input class="form-control" id="name" type="text" placeholder="Nombre del servicio" th:field="${service.name}">
					</div>
					<div class="form-group">
						<label for="file">Subir imagen</label>
						<input class="form-control-file" id="file" type="file" th:field="${service.image}">
					</div>
					<div class="form-group">
						<label for="desc">Descripción</label>
						<textarea class="form-control" id="desc" rows="3" th:field="${service.desc}"></textarea>
					</div>
					<div class="form-group">
						<label for="price">Precio</label>
						<input class="form-control" id="price" type="number" placeholder="Precio del servicio" th:field="${service.price}">
					</div>
					<div class="actions mt-4 d-flex justify-content-end">
						<a class="btn btn-secondary mr-4" th:href="@{/dashboard}">Cancelar</a>
						<button class="btn btn-accent" type="submit">Modificar</button>
					</div>	
				</form>
			</div> <!-- /row -->
		</div> <!-- /container -->
	</section>	


	<script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>   
    
    